<section id="newsletter">
  <div class="container">
    <h1>Subscribe to our newsletter</h1>
    <form>
      <input type="email" placeholder="Enter Email..."/>
      <button type="submit" class="button">Subscribe</button>
    </form>
  </div>
</section>
