class {
  onCreate() {
    this.state = {
      year: (new Date()).getFullYear()
    }
  }
}
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Alexandru Olaru</p>
    <p class="m-0 text-center text-white">2017 - ${state.year}</p>
  </div>
</footer>
